*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(230, 117, 18);
    
    
}
.nav-container{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 5rem;
    min-width: 400px;
}
   
.lista-genere{
    display: flex;
}
.lista-genere li{
    padding-right: 1rem;
    list-style: none;
    color: white;
}
.logo img{
    width: 5em;
}
.profilo{
    font-size: 1rem;
}
