*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(230, 117, 18);
    position: fixed;
    width: 100%;
    
}
.nav-container{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 5rem;
    width: 100%;
    
}
   
.lista-genere{
    display: flex;
}
.lista-genere li{
    padding-right: 1rem;
    list-style: none;
    color: white;
}
.logo img{
    width: 5em;
}
.profilo{
    font-size: 1rem;
}
.container-main{
    padding: 5rem 2rem;
}
.container-cards{
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
     
}
.cards{
    width: 33%;
    padding: 1rem;
}
img{
    width: 100%;
}


